@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Oswald:wght@400&display=swap');

body {
    font-family: Oswald, sans-serif; /* Texto normal */
}

.home-page {
    font-family: Oswald, sans-serif; /* Texto normal */
}

.banner-section .banner-img {
    width: 100%;
    height: auto;
}

.about-section,
.foundations-section,
.collections-section {
    padding: 20px;
    margin-top: 20px;
}

.about-section h2,
.foundations-section h2,
.collections-section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.about-section p,
.foundations-section p,
.collections-section p {
    font-size: 1rem;
}

h1, h2, h3, .product-name {
    font-family: Montserrat, sans-serif; /* Títulos */
    font-weight: 900; /* Montserrat Black */
}

.about-cards {
    display: flex;
    justify-content: space-between;
}

.about-card {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.about-card .card-img {
    width: 100%;
    height: auto;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    flex: 1 1 22%;
    margin-bottom: 20px;
}

.product-card .product-img {
    width: 100%;
    height: auto;
}

.product-info {
    margin-top: 10px;
    text-align: center;
}

.product-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product-price-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-price {
    font-weight: bold;
    margin: 0;
}

.add-to-cart-button {
    background-color: #F08324;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
}

.add-to-cart-button:hover {
    background-color: #333;
}

a {
    text-decoration: none;
    color: black;
}

.collection-grid {
    display: flex;
    justify-content: space-between;
}

.collection-item {
    flex: 1;
    text-align: center;
}

.collection-img {
    width: 100%;
    height: auto;
}

.collections-section {
    padding: 20px;
    margin-top: 20px;
}

.collections-section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.collab-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 20px;
}

.collab-card {
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
}

.collab-img {
    width: 100%;
    height: auto;
    display: block;
}

.collab-name {
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    margin-top: 10px;
}