.navbar-custom{
    height: 80px;
}

.top-bar {
    background-color: #F08324;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 0;
}

.delivery-logo {
    height: 16px;
    margin-right: 10px;
}

.navbar-custom {
    background-color: #141414;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #fff;
}

.navbar-logo {
    height: 30px;
}

.navbar-custom .nav-link {
    padding: 10px;
}

.mr-auto {
    margin-left: 100px;
}

.ml-auto {
    margin-right: 100px;
    gap: 20px;
}

.cart-link {
    position: relative;
    padding: 20px 15px;
    border-radius: 5px;
}

.cart-count {
    position: absolute;
    top: -2px;
    right: -10px;
    background-color: #F08324;
    color: #fff;
    border-radius: 60%;
    padding: 3px 8px;
    font-size: 14px;
}

.entrar-button {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    height: 50px;
    padding: 5px 10px;
    color: #F08324;
    font-size: 14px;
    font-weight: bold;
    outline: none;
}

.entrar-button .user-icon {
    width: 24px;
    margin-right: 10px;
}

.entrar-button:hover {
    background-color: #fff;
    color: #F08324;
}