.header-container .top-bar {
    background-color: #F08324;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 0;
}

.header-container .delivery-logo {
    height: 16px;
    margin-right: 10px;
}

.header-container .navbar-custom {
    height: 80px;
    background-color: #141414;
}

.header-container .navbar-custom .navbar-brand,
.header-container .navbar-custom .nav-link {
    color: #fff;
}

.header-container .navbar-logo {
    height: 30px;
}

.header-container .navbar-custom .nav-link {
    padding: 10px;
}

.header-container .navbar-nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container .mr-auto {
    margin-left: 0;
}

.header-container .ml-auto {
    margin-right: 0;
    display: flex;
    align-items: center;
}

.header-container .cart-link {
    position: relative;
    padding: 0 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.header-container .cart-icon {
    width: 25px;
    height: 25px;
    margin-right: 2px;
}

.header-container .cart-count {
    position: absolute;
    top: -2px;
    right: -10px;
    background-color: #F08324;
    color: #fff;
    border-radius: 60%;
    padding: 3px 8px;
    margin-right: 10px;
    font-size: 14px;
}

.header-container .entrar-button {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    height: 50px;
    padding: 5px 10px;
    color: #F08324;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    margin-left: 10px;
}

.header-container .entrar-button .user-icon {
    width: 24px;
    height: 24px;
    /* Certifique-se de que o ícone de usuário tem o mesmo tamanho que o ícone do carrinho */
    margin-right: 10px;
}

.header-container .entrar-button:hover {
    background-color: #fff;
    color: #F08324;
}