.product-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card-item {
    width: 18rem;
}

.product-card-img {
    border-radius: 8px;
}

.product-card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.product-card-text {
    font-size: 1rem;
    color: #333;
}

.product-card-button {
    background-color: #007bff;
    border: none;
    color: white;
}